# Rename to <slug>.yaml to activate. # Example alumni entry. Copy, rename, uncomment.
#schema: hugoblox/author/v1
#slug: example-alumni
#is_owner: false
#category: Alumni
#order: 1
#name:
#  display: Firstname Lastname
#  given: Firstname
#  family: Lastname
#course: B.S. Student
#next: "Next position"
#graduated: "2025 Fall"
