# Rename to <slug>.yaml to activate. # Example undergraduate student. Copy, rename, uncomment. Categories used by the site:
# "PI", "Post Doc", "Undergraduate Students", "Master Students", "Undergraduate Students", "Alumni"
#schema: hugoblox/author/v1
#slug: example-intern
#is_owner: false
#category: Undergraduate Students
#order: 1
#name:
#  display: Firstname Lastname
#  given: Firstname
#  family: Lastname
#role: |-
#  M.S./Ph.D. Integrated
#tags:
#  - Research Area
#hidden_image: example-intern.jpg
#links:
#  - icon: at-symbol
#    url: mailto:name@example.edu
#    label: E-mail Me
